<form method="POST" action="/updateProduct/{{produtos.id_produto}}">
    <input type="text" id="productName" name="productName" class="inputName" placeholder="Nome do produto">
    <input type="text" id="productDesc" name="productDesc" class="inputDesc" placeholder="Descrição do produto">
    <input type="number" id="productPrice" name="productPrice" class="inputPrice" placeholder="Preço do produto">
    <input type="number" id="productQuantity" name="productQuantity" class="inputDesc" placeholder="Quantidade do produto">
  <button type="submit" id="buttonSend" class="send">Editar produto</button>
</form>